@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Learn to succeed in GCSE - Join Today! Gupta Academy </h1>
    <p>Learn about <a href="https://qerdpcouk-my.sharepoint.com/personal/19hguptat_qerdp_co_uk/_layouts/15/onedrive.aspx?originalPath=aHR0cHM6Ly9xZXJkcGNvdWstbXkuc2hhcmVwb2ludC5jb20vOmY6L2cvcGVyc29uYWwvMTloZ3VwdGF0X3FlcmRwX2NvX3VrL0VxbFAxanJiZ3poSHV2RTVKMzhuNHZjQkZRenpuRUtaUmNMRmN0TlRSOVlJOXc%5FcnRpbWU9dUZoWVBhSVkyVWc&id=%2Fpersonal%2F19hguptat%5Fqerdp%5Fco%5Fuk%2FDocuments%2FF1%20CAR%2FPIRR%2DFace%2DWEB%5Fnkvn%2Dqy%2Ejpg&parent=%2Fpersonal%2F19hguptat%5Fqerdp%5Fco%5Fuk%2FDocuments%2FF1%20CAR">building Web apps with ASP.NET Core</a>.</p>
</div>
